
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalarama Temple</title>
    <link rel="stylesheet" href="{% static 'css/donation.css' %}">

</head>
<body>

<!-- Header -->
<header class="kalaram-header">
    <div class="kalaram-container">
        <div class="kalaram-row">
            <div class="kalaram-logo">
                <a href="#">Kalaram Mandir</a>
            </div>
            <input type="checkbox" id="kalaram-nav-check">
            <label for="kalaram-nav-check" class="kalaram-nav-toggler">
                <span></span>
                <span></span>
                <span></span>
            </label>
            <nav class="kalaram-nav">
                <ul>
                    <li><a href="/" class="kalaram-active">Home</a></li>
                    <li><a href="{% url 'events' %}">Events</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                    <li><a href="{% url 'puja' %}">Pooja & Abhishek</a></li>
                    <li><a href="#footer">Contact</a></li>
                    <li><a href="{% url 'donation' %}">Donation</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>

    <div class="container">
        <h1>॥ Make Offerings to Atmaram Bawa's Shree Ram Mandir ॥</h1>   
        
        <div class="ornament">☸ ☸ ☸</div>
        
        <h2>Ways to Contribute</h2>
        <ul>
            <li>Cash Donations</li>
            <li>Cheque</li>
            <li>Internet Banking</li>
            <li>UPI Payments</li>
        </ul>

        <h3>Cash Offerings</h3>
        <p>For any cash offering, we humbly request you to accept a receipt.</p>
        <p><strong>We request you to entrust your offerings only at the Temple's office.</strong></p>
    
        <div class="ornament">✿ ✿ ✿</div>
    
        <h3>Bank Details</h3>
        <h4>Account Name: Atmaram Bawa's Shree Ram Mandir Trust</h4>
        <table>
            <tr>
                <th>Bank Name</th>
                <th>Branch Name</th>
                <!-- <th>Account Name</th> -->
                <th>Account Number</th>
                <th>IFSC Code</th>
            </tr>
            <tr>
                <td>Bank of Baroda</td>
                <td>Thakurdwar</td>
                <!-- <td>Atmaram Bawa's Shree Ram Trust</td> -->
                <td>04180100049457</td>
                <td>BARB0THAKUR <br> (5th character is zero)</td>
            </tr>
        </table>
     <br>
    
        <div style="text-align: center;">
            <p href="#" class="button">Please send your details, including your name, address, mobile number, and a screenshot of the bank transaction reference, for our records. We will send you a receipt accordingly. You may email these details to us at [absrammandir@gmail.com] or share them via WhatsApp at [9819001832]</p>
        </div>
    
        <div class="qr-code">
            <h3>Scan to Donate</h3>
            <img src="{% static 'Images/scanner.jpeg' %}" alt="Sacred QR Code" style="max-width: 300px; height: auto;">
        </div>
    </div>

    <!-- footer -->
    <section  id="footer" class="footer">
        <footer>
    
            <div class="container">
                <div class="footer-content">
                    <h3>Contact Us</h3>
                    <h4>Email: absrammandir@gmail.com</h4>
                    <h4>Phone: +91 9819001832</h4>
                    <h4>Address: 309-E, JSS Road, Thakurdwar, Mumbai-400002</h4>
                </div>
                <div class="footer-content">
                    <h3>Quick Links</h3>
                    <ul class="list" style="font-weight: 600;">
                        <li><a href="/">Home</a></li>
                        <li><a href="{% url 'events' %}">Events</a></li>
                        <li><a href="{% url 'history' %}">History</a></li>
                        <li><a href="{% url 'gallary' %}">Gallery</a></li>
                        <li><a href="{% url 'puja' %}">Pooja </a></li>
                        <li><a href="{% url 'donation' %}">Donation</a></li>
                    </ul>
                </div>

            </div>
            <div class="bottom-bar">
                <h4>&copy; 2024 Atmaram Bawa's Shree Ram Mandir. All rights reserved.</h4>
                <p>Designed by - Sanjana and Khushi Naik</p>
            </div>
        </footer>
    </section> 

</body>
</html>


