{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kalarama Temple</title>
    <link rel="stylesheet" href="{% static 'css/history.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">

</head>
<body>

<!-- Header -->
<header class="kalaram-header">
  <div class="kalaram-container">
      <div class="kalaram-row">
          <div class="kalaram-logo">
              <a href="#">Kalaram Mandir</a>
          </div>
          <input type="checkbox" id="kalaram-nav-check">
          <label for="kalaram-nav-check" class="kalaram-nav-toggler">
              <span></span>
              <span></span>
              <span></span>
          </label>
          <nav class="kalaram-nav">
              <ul>
                  <li><a href="/" class="kalaram-active">Home</a></li>
                  <li><a href="{% url 'events' %}">Events</a></li>
                  <li><a href="{% url 'history' %}">History</a></li>
                  <li><a href="{% url 'puja' %}">Pooja & Abhishek</a></li>
                  <li><a href="#footer">Contact</a></li>
                  <li><a href="{% url 'donation' %}">Donation</a></li>
              </ul>
          </nav>
      </div>
  </div>
</header>

<!-- header -->


<div class="container">
        <h1  style="text-align: center;">श्री काळाराम मंदिर इतिहास</h1>
        <div class="image-container">
            <img src="{% static 'Images/shreeram.jpeg' %}" alt="Kalarama Temple" />
        </div>
        
        <h3 style="text-align: center;"> नम्र निवेदन</h3>
          <b style="text-align: center;">ह्या मंदिराचा इतिहास सन १९६२ साली संपादक अनंत वासुदेव मराठे यांनी लिहून प्रसिद्ध केलेला मंदिराकडे प्राप्त असलेली प्रत जीर्ण झालेली असल्याने तसेच काही भाविकांकडून आणि जिज्ञासुकडून माहिती पुस्तकेविषयी सतत विचारणा होत होती. त्यासाठी मंदिराची उपलब्ध पुस्तिकातील छापील चुका दुरुस्त करून मुळ मजकूर तसाच ठेवण्यात आला आहे. <br><hr>
          </b>
        <div> <br>
          <p style="text-align: center; color: rgb(176, 41, 41);">गिरगांव-ठाकुरद्वार (मुंबई) येथील सुप्रसिद्ध काळाराम मंदिराचे संस्थापक<br></p>

            <h2 style="text-align: center; color: red;">महंत आत्मारामबुवा रामदासी</h2>
            
            <p style="text-align: center; color: rgb(176, 41, 41);">
            मंदिराची व्यवस्था, उत्सव इत्यादींच्या माहितीसह<br>
            
            संपादक : अनंत वासुदेव मराठे<br>
            
            पुनर्मुद्रीत : आत्मारामबुवांचे श्रीराम मंदिर ट्रस्ट<br>
            
            प्रथम आवृत्ती : सन १९६२ <br>
            
            द्वितीय आवृत्ती: सन २०२४
          </p>
          <h3>प्रास्ताविक</h3>

          सन १८२८ ची गोष्ट. आज मुंबईतील गिरगांवच्या बाजूला 'गिरगांव रोड' किंवा हल्लीं 'नाना शंकर रस्ता' ह्या प्रशस्त रस्त्यावर 'ठाकुरद्वार' हा जो अत्यंत गजबजलेला भाग दिसतो तो त्या वेळीं जवळजवळ मोकळाच होता. तिथे मुख्यतः पाठारे प्रभु समाजांतील कांहीं प्रतिष्ठित घराण्यांची वस्ती होती. आणि तो बहुतेक भाग त्यांच्याच मालकीचा होता. <br><br>

          ठाकुरद्वार हैं नांव त्या वेळीं होतें कीं नाहीं समजत नाहीं. 'गिरगांव रोड' हैं नांवही त्या वेळीं नव्हतें. त्या वेळचें नांव 'पालवा रोड' असें होतें.' ठाकुरद्वार' म्हणजे देवालयांचा परिसर हें नांव तिथे देवालयांची उभारणी झाल्यावर पडलें असावें. ह्या देवालयांच्या परिसरांत आज 'काळाराम मंदिर' किंवा 'आत्मारामबुवांचें राममंदिर' आणि 'गोरारामः मंदिर' (हीं नांवें त्या देवालयांतील मूर्तीच्या रंगावरून पडलेलीं आहेत). हीं देवस्थानें फार प्रसिद्ध आहेत. काळ्या राममंदिराच्या आवारांतील श्रीव्यंकटेश मंदिरही प्रसिद्ध आहे. प्रस्तुत आपल्याला 'काळ्या राममंदिरा' शीं ज्या आत्मारामबुवांचें नांव निगडित आहे ते आत्मारामबुवा कोण, कुठले आणि त्यांनीं इथेंच मंदिर कां उभारलें आणि त्याची सध्याची व्यवस्था काय आहे हें सांगाववाचें आहे.
          <hr>
        </div>
          <div class="section">
            <h2>१. कोकणांतील बाल आत्माराम</h2>
            महाराष्ट्रांतील कोकण प्रांत हा पूर्वीपासून द्रव्यदृष्ट्या गरीब असला तरी बुद्धिमत्तेंत श्रेष्ठत्व पावलेला आहे. राजकारणी, मुत्सद्दी व विद्वान् देशभक्त यांप्रमाणेंच संत व सत्पुरुष यांची मालिकाही ह्या भूमींत सतत चालली होती. <br><br>
            दक्षिण कोकणांतील विजयदुर्ग-राजापूरच्या बाजूला 'वासिष्ठ गोत्री' पळसुले या उपनांवाचीं कांहीं कऱ्हाडे ब्राह्मणांचीं कुटुंबें आहेत. अठराव्या शतकाच्या पूर्वार्धात (सन १७४६ च्या सुमारास) आत्माराम नांवाचा एक मुलगा तिथल्या एका गरीब पण सात्त्विक कुटुंबांत जन्मला.
         </div>
         <div class="section">
          <h2>२. श्रीशंकराचार्य आणि रामदास</h2>
          हा रामदासी सांप्रदाय महाराष्ट्रांतील एक प्रमुख सांप्रदाय आहे आणि त्याची स्थापना सतराव्या शतकांत समर्थ श्रीरामदासस्वामींनीं केलेली आहे. इ. सनाच्या सातव्या शतकांत आद्य श्रीशंकराचार्यांनीं वैदिक धर्माच्या पुनः प्रस्थापनेचें जें कार्य केलें तशाच प्रकारचें कार्य सतराव्या शतकांत महाराष्ट्रांत रामदासस्वामींनीं केलें, श्रीशंकराचार्यांना त्या वेळच्या बौद्ध सांप्रदायाला तोंड देऊन आणि वैदिक धर्मात शिरलेले दोष काढून टाकून त्याला नवीन तजेला द्यावयाचा होता. हैं कार्य त्यांनीं बौद्ध सांप्रदायांतील कित्येक तत्त्वें नि आचार यांचा स्वीकार करून बेमालूम पार पाडलें. इतकें कीं त्यामुळे बौद्ध धर्माचे नांवच भरतखंडांतून नाहींसें झालें. तत्कालीन कित्येक सनातनी वैदिकधर्मी लोक मात्र श्रीशंकराचार्यांना 'प्रच्छन्न बौद्ध' म्हणजे 'शबल' किंवा 'बाटगे वैदिकधर्मी संन्यासी' असें म्हणत असत ! <br><br>
          श्रीरामदासस्वामींनीं महाराष्ट्रांत केलेलें कार्य याच स्वरूपाचें होतें. श्रीज्ञानेश्वर, नामदेव, एकनाथ, इत्यादि त्यांच्या पूर्वीच्या संत मंडळींनीं महाराष्ट्रांत ज्या ' भागवत धर्मा' चा प्रसार केला होता त्यांतील कांहीं तत्त्वें बौद्धांच्या तत्त्वांप्रमाणेंच होतीं. 'जग हें दुःखमय असून या दुःखाचा परिहार वासनाक्षयानेंच होईल; वासना हेंच सर्व दुःखांचें मूळ आहे; तेव्हां ती वासनाच मारून टाकली कीं दुःख कशाला येईल?' अशी त्यांची विचारसरणी होती. वासना मारून टाकावयाची म्हणजे 'प्रवृत्ति' व 'निवृत्ति' या धर्माचारांच्या पूर्वापार चालत आलेल्या दोन मार्गापैकीं निवृत्तीला प्रथम श्रेणीचा मान द्यावयाचा हें उघडच आहे.
         </div>
         <div class="section">
          <h2>३. श्रीरामदासांचें वैशिष्टय</h2>
          श्रीरामदासस्वामींनीं पाहिलें कीं साऱ्या जनतेनेंच हा निवृत्तिमार्ग स्वीकारला तर आपलें प्राचीन भारत राष्ट्र काय किंवा महाराष्ट्र काय जगांतून नष्टच झाल्यासारखें होईल ! तत्कालीन समाजाचें सूक्ष्म निरीक्षण केल्यावर त्यांना आढळून आलें होतें कीं भारतबाह्य परकी लोकांनीं भारतांत शिरून जिकडे तिकडे जो उच्छेद मांडला होता त्याचें कारण आपल्या समाजांतील नेत्यांच्या विकृत धर्मकल्पनांत आहे. तेव्हां त्यांना 'प्रवृत्ति' व 'निवृत्ति' या दोन सनातन तत्त्वांची ज्यांत योग्य सांगड घातलेली आहे असा धर्म शिकविला पाहिजे.
          'सर्वं खल्विदं ब्रह्म', 'ब्रह्म सत्यं जगन्मिथ्या' इत्यादि सिद्धान्त तत्त्वतः मान्य असले तरी ते आचरणांत आणतांना मानव हा अपूर्ण आहे आणि 'जगन्मिथ्या' म्हणून अन्यायाचा प्रतिकार करण्याचें आपण सोडून दिलें तर श्रीकृष्णांनीं सांगितल्याप्रमाणें 'उत्सीदेयुरिमे लोकाः' या न्यायानें जगाचा संहारच होणार; तेव्हां आपला समाज व आपलें राष्ट्र टिकून रहावयाचें असेल तर त्याला त्याच्या सध्याच्या मरगळलेल्या अवस्थेतून बाहेर काढलें पाहिजे. <br><br>
          या हेतूनेंच त्यांनीं आपल्या कीर्तनप्रवचनांतून अध्यात्माच्या विवरणाबरोबरच "देव मस्तकीं धरावा । अवघा हलकल्लोळ करावा ।। आधीं प्रपंच करावा नेटका। मग घ्यावें परमार्थ-विवेका ।।" इत्यादि उपदेश करून सारा समाज हालवून सोडला !
         </div>
         <div class="section">
         <h2>४. महाराष्ट्रधर्म आणि रामदासी सांप्रदाय</h2>
         श्रीरामदासस्वामींनीं प्रसृत   केलेल्या या धर्मालाच पुढें महाराष्ट्रधर्म असें नांव पडलें आणि त्यांचा सांप्रदाय 'रामदासी सांप्रदाय' या नांवानें प्रसिद्धीस आला.
          या महाराष्ट्रधर्माचीं तत्त्वेंही फार सोपीं, कोणाच्याही बुद्धीला सहज पटणारीं नि आचरणांत आणण्याला सुलभ अशींच आहेत. एका विद्वान् लेखकानें याची चतुःसूत्री पुढीलप्रमाणें वर्णिली आहे. <br><br>
          (१) 'धरीं रे मना धीर, धाकासि सांडीं' हे ह्या धर्माचें पहिलें सूत्र होय. <br>
          (२) 'यत्नाचा लोक भाग्याचा। यत्नेवीण दरिद्रता ।।' हें याचें दुसरें सूत्र होय. <br>
          (३) शक्तीनें मिळती राज्यें । युक्तीनें पावती सुखें' हें त्याचें तिसरें सूत्र होय.<br>
          (४) 'आधीं प्रपंच करावा नेटका । मग घ्यावें परमार्थ-विवेका । तेथें आळस करूं नका । विवेकी हो।' हैं या धर्माचें चौथे सूत्र आहे. <br><br>
          तात्पर्य, धर्म आणि व्यवहार यांची यथायोग्य सांगड हा या धर्माचा विशेष आहे आणि तो स्वामींनीं "प्रपंच सोडूनि परमार्थ कराल । तेणें तुम्हीं कष्टी व्हाल ।। प्रपंच परमार्थ चालवाल । तरी तुम्ही विवेकी।।" ह्या शब्दांत स्पष्ट केला आहे. तत्कालीन बावचाळलेल्या आणि आडमार्गाला लागलेल्या समाजधुरीणांवरही त्यांनीं चांगले कोरडे ओढून त्यांना योग्य मार्गावर आणण्याचे प्रयत्न केले होते. असो.
          </div> 
         <div class="section">
         <h2>५. छत्रपति आणि समर्थ</h2>
         
          सुदैवानें याच वेळीं छत्रपती शिवाजीमहाराजांसारखा अवतारी पुरुष महाराष्ट्रांत निर्माण होऊन त्यानें तत्कालीन परकी जुलमी सत्तेच्या पाशांतून महाराष्ट्रालाच नव्हे तर अखिल भरतखंडाला मुक्त करण्याची 'हिंदवी स्वराज्य' स्थापन करण्याची प्रतिज्ञा केली होती. 'छत्रपति' नि 'समर्थ' म्हणजे शिवाजीमहाराज व रामदासस्वामी यांचें कार्य परस्परांना पोषक होऊन महाराष्ट्रांत स्वराज्याची स्थापना झाली हैं इतिहासज्ञांना माहीत आहेच. <br><br>  
          श्रीशंकराचार्यांनीं निर्माण किंवा पुनरुद्धार केलेल्या धर्माला पुढें 'हिंदुधर्म' हें नांव पडलें; तसेंच श्रीरामदासांनीं उपदेशिलेल्या धर्माला पुढें 'महाराष्ट्रधर्म' असें नांव पडलें हैं वर सांगितलेंच आहे.
        
        </div> 
        <div class="section">
         <h2>६. शिरगांव मठ</h2>
         सुदैवानें याच वेळीं छत्रपती शिवाजीमहाराजांसारखा अवतारी पुरुष महाराष्ट्रांत निर्माण होऊन त्यानें तत्कालीन परकी जुलमी सत्तेच्या पाशांतून महाराष्ट्रालाच नव्हे तर अखिल भरतखंडाला मुक्त करण्याची 'हिंदवी स्वराज्य' स्थापन करण्याची प्रतिज्ञा केली होती. 'छत्रपति' नि 'समर्थ' म्हणजे शिवाजीमहाराज व रामदासस्वामी यांचें कार्य परस्परांना पोषक होऊन महाराष्ट्रांत स्वराज्याची स्थापना झाली हैं इतिहासज्ञांना माहीत आहेच.
          श्रीशंकराचार्यांनीं निर्माण किंवा पुनरुद्धार केलेल्या धर्माला पुढें 'हिंदुधर्म' हें नांव पडलें; तसेंच श्रीरामदासांनीं उपदेशिलेल्या धर्माला पुढें 'महाराष्ट्रधर्म' असें नांव पडलें हैं वर सांगितलेंच आहे. <br><br>
          श्रीसमर्थांनीं या महाराष्ट्रधर्माच्या प्रसारासाठीं ठिकठिकाणीं मठ स्थापन केले होते; आणि त्यांचे शिष्य-प्रशिष्यही या मठांचे जाळें सर्वत्र पसरीत होते.
            या मठांपैकींच शिरगांव येथील मठ हा एकोणिसाव्या शतकांतील एक प्रसिद्ध मठ होता. हा मठ चाफळपासून दोन कोसांवर आहे. तेथील मठांत श्रीसमर्थांचाही कांहीं काळ वास होता. 
            कल्याणस्वामी, त्यांचे बंधु दत्तात्रेयस्वामी व मातुःश्री असे त्रिवर्ग प्रथम याच मठांत राहत असत. पुढें कल्याणस्वामी डोमगांवीं गेले व दत्तात्रेय - स्वामी शिरगांवींच राहिले. दत्तात्रेयस्वामींची समाधि शिरगांव मठांतच आहे.श्रीदत्तात्रेयस्वामी हे गृहस्थाश्रमी होते. त्यांचे पुत्र राघवस्वामी; राघव- स्वामींचे पुत्र यशवंतस्वामी व यशवंतस्वामींचे पुत्र भीमस्वामी, अशी या मठाची परंपरा आढळते.
              प्रस्तुत चरित्रनायक श्रीआत्मारामबुवा हे या शिरगांव मठाचेच सांप्रदायी होते.
        </div> 
        <div class="section">
         <h2>७. श्रीआत्मारामबुवांचें देशपर्यटन</h2>
         
          श्रीरामदासस्वामी स्वतः अविवाहित होते; किंबहुना विवाह नको म्हणूनच त्यांनीं ऐन मुहूर्त साधण्याच्या वेळीं 'सावधान' शब्द ऐकून विवाहमंडपांतून पळ काढला होता हे प्रसिद्धच आहे. तथापि त्यांनीं जो सांप्रदाय पुढें चालू केला त्यांत विवाहाला बंदी नव्हती. विवाहित नि अविवाहित असे दोन्ही प्रकारचे लोक या सांप्रदायांत येऊ शकत. 
          आपल्या आत्मारामबुवांचें लग्न लहानपणींच झालेलें होतें. त्यांच्या मुलीची एक मुलगी अहमदाबादच्या राममंदिरांत पाहिल्याचें कित्येक लोक सांगतात. तथापि वैयक्तिक संसारांत गुरफटून न राहतां रामदासस्वामीं- प्रमाणेंच विश्वाची चिंता वाहत त्यांनी भरतखंडभर प्रवास केला होता. या प्रवासांत काशीक्षेत्रीं असतां त्यांना एक स्फटिकाचें शिवलिंग सांपडलें. तें त्यांनीं बरोबर घेतलें आणि काशीयात्रेहून आल्यावर 'चिंचारे' उपनांवाचे त्यांचे एक भाचे सावंतवाडीला होते, त्यांच्या घरीं ते रहायला आले. तिथें त्यांचा मुक्काम बरेच दिवस होता. मधूनमधून ते सावंतवाडीच्या परिसरां-तील खेड्यापाड्यांतून फिरत असत.
        
        </div>
        <div class="section">
         <h2>८. श्रीशंकराचा दृष्टान्त</h2>
         
          असेच एकदा वालावल नांवाच्या गांवीं गेले असतां त्यांना एका रात्रीं श्रीशंकराचा असा दृष्टान्त झाला की 'मी इथल्या नजीकच्या वाण्याच्या घरीं त्याच्या पाट्यावर आहें. रोज माझा मिरच्या वाटण्यासाठीं उपयोग होत आहे, त्यामुळे माझ्या अंगाची आग होत असते. तेव्हां तूं मला तिथून नेऊन कुठें तरी सुस्थळीं ठेव !'
          <br><br>
          सकाळीं उठल्यावर त्यांनीं आसपास चौकशी केली तेव्हां त्यांना त्या वाण्याच्या घरच्या पाट्यावर असलेला वरवंटा रात्रौ स्वप्नांत पाहिलेल्या वरवंट्यासारखाच आहे असें आढळून आलें. त्यांनीं त्या वाण्याला सारी हकीकत सांगितली आणि त्याच्याकडून तो वरवंटा मागून घेतला आणि स्वच्छ धुवून पुसून आपल्या बासनांत गुंडाळून ते पुन्हा सावंतवाडीला आले.
        
        </div> 
        <div class="section">
          <h2>९. सावंतवाडीचे भोसले</h2>  
              
                सावंतवाडी हें त्या वेळीं एक स्वतंत्र राज्य होतें. त्याचे अधिपति हे छत्रपति श्रीशिवाजीमहाराजांच्या भाऊबंदांच्या एका शाखेतले होते.'सावंत भोसले' असें त्यांचें उपनांव असून 'सरदेसाई परगणे कुडाळ व महालानिहाय' अशी त्यांची पदवी होती. <br><br>
                इंग्रजांनीं त्या बाजूला चंचुप्रवेश केला होता. तथापि या भोसल्यांच्या सावधानतेमुळे त्यांना हातपाय पसरण्याला अद्यापि वाव मिळाला नव्हता. या सावंतवाडीच्या राजघराण्याचें वैशिष्टय असें होतें कीं त्यांच्या प्रत्येक पिढीत कोणाना कोणा सत्पुरुषाचा त्यांच्या राजवटीला आशीर्वाद असे आणि राजपदाधिष्ठित व्यक्तीही अशा सत्पुरुषाला मान देऊन त्याच्या इच्छा- आकांक्षा पुऱ्या करीत असे. <br><br>
                या राजघराण्याचे संस्थापक पहिले खेमसावंत यांना 'गिरि' पंथीय 'भारतीबुवा' हे गुरु लाभले होते, तर दुसऱ्या खेमसावंतांच्या वेळीं 'बालाजीबुवा' हे या राजघराण्याचे पाठीराखे होते. आणि ही परंपरा अगदीं अलीकडे कै. बापूसाहेबमहाराज यांच्या कारकीर्दीपर्यंत चालली होती. त्यांच्याच राज्यांत दाणोली येथें वास्तव्य करून राहिलेले 'श्रीसाटमबुवा' हे कै. बापूसाहेबांना गुरुस्थानीं असून त्यांनीं तिथें एक सुंदर समाधिमंदिर बांधलेलें आहे. असो.
              
        </div>
        <div class="section">
          <h2>१०. आत्मेश्वराची स्थापना</h2> 
            
              आत्मारामबुवा सावंतवाडीला आले तेव्हां तिसरे खेमसावंत ऊर्फ 'राजश्री' हे सावंतवाडीचे अधिपति होते. ते त्या राज्यांत येणाऱ्या अनेक साधुसंतांचा नेहमीं परामर्ष घेत असत. <br><br>
              आत्मारामबुबांची कीर्ति त्यांच्या कानीं गेली. त्यांना झालेला साक्षात्कार त्यांना समजला. वालावलीचें शिवलिंग त्यांनीं सावंतवाडींत आणलें आहे आणि त्याची सावंतवाडींतच स्थापना करण्याचा त्यांचा उद्देश आहे हें त्यांना कळल्यावर त्यांनी पुढची व्यवस्था केली. आणि ज्या ठिकाणीं या राजघराण्यांतील व्यक्तींच्या समाधि होत्या त्या 'माठेवाडा' नामक शहराच्या विभागांत असलेली एक प्रशस्त मोकळी जागा पसंत करून तिथं त्या लिंगाची 'आत्मेश्वर' या नांवानें स्थापना करविली. आत्मारामबुवांनीं काशीहून जें लिंग आणलें होतें त्याचीही तिथेच स्थापना करण्यांत आली नि त्याला 'प्राणेश्वर' असें नांव देण्यांत आलें. अशा रीतीनें सावंतवाडींत 'आत्मेश्वर प्राणेश्वर' अशा जोड नांवानें हें देवस्थान निर्माण झालें. (सन १७९९)
            
          </div>
          <div class="section">
            <h2>११. मंदिरापुढील रामतीर्थ</h2>
            
              आत्मेश्वराच्या या देवालयापुढें सुमारें तीनशें वर्षांपूर्वी कोणा सत्पुरुषाच्या प्रसादानें 'रामतीर्थ' नांवाचें शुभ्र गंगोदकासारख्या पाण्याचें एकः उदककुंड निर्माण झालेलें आहे. या उदककुंडाला 'आत्मेश्वराची तळी' असें म्हणतात. तिचा विशेष असा आहे कीं तेथिल पाणी बाराही महिने एकसारखें भरलेलें असतें. आजूबाजूच्या लोकांनीं स्नानासाठीं व धुण्यासाठीं कितीही उपसा करून उपयोग केला तरी 'पुनः अल्पावधींत त्याचा तें भरून राहतें ! असो.
            
          </div>
          <div class="section">
            <h2>१२. मंदिराच्या खर्चाची व्यवस्था</h2>
            
              वर सांगितलेले राजे तिसरे खेमसावंत व त्यांची राणी लक्ष्मीबाई यांची आत्मारामबुवांवर फार निष्ठा होती. देवांची प्राणप्रतिष्ठा झाल्यावर देवस्थानची पूजा-अर्चा, कीर्तन-पुराण, नैवेद्य-नंदादीप इत्यादींच्या खर्चासाठीं म्हणून प्रथम आपल्या राज्यांतल्या हद्दींत येणाऱ्या कापडावर दर सणगास एक 'दुडु' (म्हणजे त्यावेळची अर्धी पै) प्रमाणें येणारा वसूल त्यांनीं लावून दिला होता. शिवाय कांहीं नक्त नेमणूकही होती. पुढें सन १८०८-०९ च्या सुमारास त्या राज्यांतील 'सरंबळ' या गांवांतील २० 'भरे' म्हणजे ऐशीं खंडी भाताच्या उत्पन्नाची जमीन इनाम करून देण्यांत आली.
            
          </div>
          <div class="section">
            <h2>१३. आत्मारामबुवांचें मुंबईत आगमन</h2>
            
              वर सांगितल्याप्रमाणें सावंतवाडी येथे त्या देवस्थानची मनासारखी व्यवस्था झाल्यावर आत्मारामबुवा पुनः संचारासाठीं बाहेर पडले. ते प्रथम गोवा- कारवारच्या बाजूला जाऊन नंतर गुजरातेत गेले. तिकडेही त्यांनीं राममंदिरांची स्थापना केली आणि तिथून मग १८२८ च्या सुमारास मुंबईत आले. मुंबईत त्या वेळीं गिरगांवच्या बाजूला सध्याच्या ठाकुरद्वारच्या परिसरांतला भाग जवळ जवळ मोकळाच होता. तिथे एक पुष्करिणी असून आजूबाजूच्या जागेचा स्मशानासारखा उपयोग करीत ! बहुतेक जागा पाठारे प्रभु कुटुंबांच्या मालकीची होती.
            
          </div>
          <div class="section">
            <h2>१४. भाऊ रसूल</h2>
            
              कोकणी लोकांना 'भाऊचा धक्का' या नांवानें आगबोटी लागण्याची जी जागा माहीत आहे ती पूर्वी भाऊ रसूल या नांवाच्या प्रभु गृहस्थांच्या मालकीची होती. हे भाऊ रसूल त्या वेळच्या मुंबईच्या प्रसिद्ध धनिक समाजसेवकांत मोडत असत. ते वृत्तीनेंही धार्मिक व अंतःकरणाचे उदार होते.
            
          </div>
          <div class="section">
            <h2>१५. काळाराम मंदिराची स्थापना</h2>
            
              आत्मारामबुवा मुंबईत आल्यावर लवकर त्यांची भाऊ रसूलांशीं गांठ पडली आणि बुवांच्या अंगच्या समाजसेवा, श्रीराम-उपासनेच्या प्रसाराची तळमळ आणि त्यांनीं आतांपर्यंत केलेलें कार्य यांचा रसूलांच्या मनावर परिणाम होऊन ते लवकरच त्यांचे शिष्य बनले. <br><br>
              पुढे भाऊंच्या मदतीनें अनेक लोकांकडून देणग्या वगैरे मिळवून आज गिरगांव-रोड किंवा 'नाना शंकरशेट रस्ता' नांवानें प्रसिद्ध असलेल्या पण त्यावेळीं 'पालवा रोड' नांवानेंच ओळखल्या जाणाऱ्या रस्त्यानजीक आत्माराम बुवांनीं थोडी जागा खरेदी घेतली आणि तिथें एक मंदिर उभारलें. <br><br>
              रामदासी सांप्रदाय हा श्रीरामचंद्राचा उपासक आहे. श्रीरामचंद्र हेंच त्याचें आराध्य दैवत असतें आणि इतर देवतांविषयीं त्यांना आदर असला आणि त्यांची ते भक्तीही करीत असले तरी श्रीरामभक्तीचा प्रसार हेंच त्यांचें मुख्य उद्दिष्ट असतें. त्या उद्दिष्टानुसार आत्मारामबुवांनीं या मंदिरांत श्रीरामपंचायतनाची विधिपूर्वक स्थापना केली (भाद्रपद शु. १२ शके १७५०- २० सप्टेंबर, १८२८).
            
          </div>
          <div class="section">
            <h2>१६. घुमटींतील श्रीशिवलिंग</h2>
            
              या मंदिराच्या घुमटींत एक शिवलिंग आहे. तें खालच्या श्रीरामाच्या मूर्तीच्या मस्तकाच्या बरोबर वरच्या बाजूला आहे. आत्मारामबुवा तिथे ध्यानस्थ बसत असत. त्याला कैलास भुवन असें म्हणतात. आज तिथें जाण्याला एक चिंचोळी वाट केलेली आहे. श्रावण महिन्यांतील सोमवार, वैकुंठ चतुर्दशी नि माघी शिवरात्र या दिवशीं भक्तमंडळीला तिथे प्रवेश मिळतो.
            
          </div>
          <div class="section">
            <h2> १७. मंदिराची पहिली व्यवस्था</h2>
            
              बुवांबद्दल लोकांत फार आदर असल्यामुळे मंदिराच्या व्यवस्थेच्या खर्चाची त्यांना कधींच पंचाईत पडत नसे. पाठारे प्रभु समाज तर त्यांना मदत करण्याला सदैव तयार असेच. पण गुजराथेंतील बडोदें आणि कोकणांतील सावंतवाडी येथील कित्येक लोक आणि खुद्द तिथले राजे-संस्थानिकही त्यांना मदत करीत. <br><br>
              मंदिरस्थापनेपासून पुढचीं ७/८ वर्षे मंदिराची सर्व व्यवस्था स्वतः बुवाच पहात असत. पुढें वृद्धावस्थेमुळे त्यांची प्रकृति खालावली तेव्हां मंदिराची पुढील व्यवस्था त्यांनीं एक पंचमंडळ नेमून त्याच्याकडे सोपविली. या पंचमंडळांत वर सांगितलेले श्री लक्ष्मण हरिश्चंद्रजी ऊर्फ भाऊ रसूल हे मुख्य असून वासुदेव विश्वनाथ, काशीनाथ मोरोजी, बाळकृष्ण वासुदेवजी व राघोबा गोविंदजी हे इतर पंच (ट्रस्टी) होते.
           
          </div>
          <div class="section">
            <h2> १८. समाधि आणि तदनंतर</h2>
            
              शेवटीं श्रावण व।। ७ शके १७५८ (२ सप्टेंबर सन १८३६) रोजीं बुवांनीं या राममंदिराच्या आवारांतच समाधि घेतली. समाधीपूर्वी रामभाऊ पातोडेकर या नांवाचा एक मुलगा बुवांनीं दत्तक घेतला होता. हेतु मंदिराची व्यवस्था त्यानें चालवावी हाच होता. विश्वस्तांनी या मुलालाच मंदिराचा व्यवस्थापक नेमिलें. पुढे हे रामभाऊ सन १८४२ मध्यें निवर्तल्यावर त्यांचा मुलगा हरिबुवा यांच्याकडे ही व्यवस्था सोंपविण्यांत आली.
            
          </div>
          <div class="section">
            <h2> १९. आपलीं मंदिरें आणि मठ</h2>
            
              आपल्या मंदिरांचा नि मठांचा इतिहास पाहिला तर त्यांच्या संस्थापकांच्या पश्चात् एक दोन पिढ्यांनंतर त्यांना स्वार्थ नि उदासीनता यांनीं ग्रासलेलें दिसतें, या संस्थांना देणग्या, इनामें नि उत्पन्नं मिळून त्या आर्थिक दृष्ट्या सुस्थित झालेल्या असल्या तर पुष्कळ वेळां मूळ संस्थापकांचा उद्देश बाजूला राहून त्यांचे प्रत्यक्ष अप्रत्यक्ष वारस किंवा व्यवस्थापक यांच्यांत कलीचा प्रवेश होऊन तंटेबखेडे नि सरकार- दरबार झाल्याचीं अनेक उदाहरणें दिसून येतात.
            
          </div>
          <div class="section">
            <h2>२०. काळ्या रामाचें सुदैव</h2>
            
              आत्मारामबुवांचें हें राममंदिरही याला प्रथम अपवाद नव्हतें. पण सुदैवानें वर सांगितलेल्या भाऊ रसूलसारखे गृहस्थ या देवस्थानच्या पंच मंडळींत असल्यामुळे त्यांनीं या देवस्थानच्या व्यवस्थेत आलेले व्यत्यय धीमेपणानें व प्रसंगीं इंग्रजांच्या न्यायकोर्टाचा आश्रय करूनही दूर केले आणि त्यांच्या पश्चातही ज्या ज्या वेळीं या देवस्थानच्या व्यवस्थेबद्दल व मालकी हक्काबद्दल वाद माजले त्या त्या वेळीं कोणीना कोणी बुवांचे व देवस्थानचे भक्त पुढ़ें होऊन ते वाद यशस्वीपणें जिंकीत गेले.
            
          </div>
          <div class="section">
            <h2>२१. श्रीदत्तमंदिर</h2>
            
              दरम्यान सन १८७०च्या सुमारास बापूबुवा ऊर्फ कृष्णनाथबुवा या नांवाचे एक सत्पुरुष या श्रीराममंदिराच्या शेजारी असलेल्या धर्मशाळेत राहत असत. मंदिरांतील मूर्तीची पूजाही तेच करीत. त्यांनींच पुढें श्रीदत्तमंदिर म्हणून असलेल्या जागीं श्रीअक्कलकोटस्वामींच्या पादुका, विठोबा-रखुमाई, देवी व गणपती यांच्या मूर्ति व एक शिवलिंगही स्थापन केलें.
            
          </div>
          <div class="section">
            <h2>२२. नवी योजना</h2>
            
              या बापूबुवांच्या पश्चात्ही त्यांचा मुलगा गुरुनाथबुवा व मंदिराचे ट्रस्टी यांच्यामध्यें कांहीं दिवस मंदिराची मालकी व व्यवस्था यांबद्दल वाद माजला होता; पण त्याचा शेवट मुंबई हायकोर्टामार्फत मंदिरासाठीं एक 'स्कीम' ठरविण्यांत झाला आणि त्यानंतर या 'स्कीम' प्रमाणें व्यवस्था चालू झाली ती आजपर्यंत सुरळीत चालू आहे.
            
          </div>
          <div class="section">
            <h2>२३. तेव्हाचे विश्वस्त (१९६२)</h2>
            
              श्री. गजाननराव व्ही. वेलकर <br>
              श्री. रावसाहेब नारायण व्ही. धराधर <br>श्री. मुकुंद एन्. मानकर, सॉलिसिटर <br>श्री. चंद्रमाधव जी. त्रिलोकेकर <br>श्री. चंद्रसेन रामराव मानकर
            
          </div>
          <div class="section">
            <h2>२४ सध्याचे विश्वस्त (२०२४)</h2>
            
              श्री. राजन मोतिराम जयकर <br>
              श्री. बाळकृष्ण नारायण तळपदे <br>
              श्री. मोहन मोतिराम जयकर <br>
              श्री. प्रदीप श्रीकर राणे <br>
              श्री. ललित माधवराव कोठारे <br>
              श्री. गौतम अशोक वेलकर <br>
              श्री. समीर श्रीकांत रणजित
            
          </div>
          <div class="section">
            <h2>२५. या देवस्थानांतील प्रमुख उत्सव</h2>

              (१) रामनवमी <br>(२) हनुमानजयंती <br> (३) अक्कलकोट श्रीस्वामीसमर्थ पुण्यतिथि चै. कृ. १३ <br> (४) नवरात्र <br> 
              (५) दत्तमूर्ति स्थापनादिन ज्येष्ठ कृ. ८ <br> (६) आत्मारामबुवांची पुण्यतिथि श्रावण कृ. ७ <br> (७) गोकुळाष्टमी <br>(८) श्रीरामपंचायतन स्थापनादिन भाद्रपद शु. १२ <br> (९) श्रीदत्तजयंती <br> (१०) दासनवमी <br><br>
              इत्यादि भरगच्च कार्यक्रम होत असतो. चैत्र शु ।। ११ च्या दिवशीं श्रींची पालखी विश्वस्त व इतर भक्तांच्या निमंत्रणावरून त्यांच्या निवासस्थानीं जाते व तिथे आरती प्रसाद इत्यादि कार्यक्रम होतात. इतर उत्सवांच्या वेळीही कीर्तन - पुराणादि कार्यक्रम होत असतात. शिवाय भारताच्या राष्ट्रीय उत्सवांतही व्यवस्थापकांकडून या मंदिरांत त्या त्या प्रसंगाला योग्य असे कार्यक्रम योजण्यांत येतात.

          </div>
          <div class="section">
            <h2>२७. श्रीदत्तमंदिरातील उत्सव</h2>
            
              या श्रीराममंदिराप्रमाणेच श्रीदत्तमंदिरांतही श्रीदत्तजयंति, गुरुद्वादशी, गुरुप्रतिपदा व श्रीअक्कलकोटस्वामींची पुण्यतिथि आणि त्यानिमित्त भजन सप्ताह इत्यादि उत्सव केले जातात. श्रीदत्तजयंतीच्या दिवशीं श्रीस्वामी समार्थं या पादुका वर सांगितलेल्या चैत्र शु ।। ११ च्या सोहळ्या प्रमाणेंच त्यांच्या भक्त मंडळीच्या निमंत्रणानुरूप त्यांच्या निवासस्थानीं नेण्यांत येऊन तिथें आरती भजन इत्यादि कार्यक्रम होतो.
            
          </div>
          <div class="section">
            <h2>२८. सांस्कृतिक केंद्र</h2>
            
              सारांश, मुंबईत धार्मिक व सांस्कृतिक कार्यक्रमांविषयीं जीं मंदिरें प्रसिद्ध आहेत त्यांत या मंदिराची गणना होत असून प्रत्येक वर्षी चातुर्मासांत त्याचप्रमाणें अधिकमासादि नैमित्तिक प्रसंगी इथे पुराणकीर्तनद्वारा भारतीयांच्या धार्मिक भावना सतत जागृत ठेवण्याकडे विश्वस्तांचें नेहमी लक्ष असतें. महाराष्ट्रांतील विद्वान शास्त्री, पुराणिक, हरिदास इत्यादींना आपल्या अंगचे गुण दाखविण्याला आणि धर्मप्रसार करण्याला हें एक अत्यंत उपयुक्त असें केंद्र आहे यांत संशय नाहीं.
            
          </div>
          </div> 



          <!-- <div class="footer">
            <p>© 2024 श्री काळाराम मंदिर. सर्व हक्क राखीव.</p>
        </div>

        <button class="historic-btn"><a href="/">Back to homepage</a></button> -->


      
    </div>
  </div>

      <!-- footer -->
    <section  id="footer" class="footer">
      <footer>
  
          <div class="container">
              <div class="footer-content">
                  <h3>Contact Us</h3>
                  <p>Email: absrammandir@gmail.com</p>
                  <p>Phone: +91 9819001832</p>
                  <p>Address: 309-E, JSS Road, Thakurdwar, Mumbai-400002</p>
              </div>
              <div class="footer-content">
                  <h3>Quick Links</h3>
                  <ul class="list">
                      <li><a href="/">Home</a></li>
                      <li><a href="{% url 'events' %}">Events</a></li>
                      <li><a href="{% url 'history' %}">History</a></li>
                      <li><a href="{% url 'gallary' %}">Gallery</a></li>
                      <li><a href="{% url 'puja' %}">Pooja </a></li>
                      <li><a href="{% url 'donation' %}">Donation</a></li>
                  </ul>
              </div>
          </div>
          <div class="bottom-bar">
              <p>&copy; 2024 Atmaram Bawa's Shree Ram Mandir. All rights reserved.</p>
              <p>Designed by - Sanjana and Khushi Naik</p>
          </div>
      </footer>
  </section> 
  

  <button id="scrollToTop" title="Go to top">↑</button>

  <script>
      const scrollToTopButton = document.getElementById("scrollToTop");

      window.onscroll = function() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
              scrollToTopButton.style.display = "block";
          } else {
              scrollToTopButton.style.display = "none";
          }
      };

      scrollToTopButton.onclick = function() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
      };
  </script>

</body>
</html>

